# Dependencias
node_modules
.pnp
.pnp.js

# Construcción y caché
.next/
out/
build/

# Variables de entorno (¡Muy importante!)
.env*.local
.env

# Logs y debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Varios
.DS_Store
*.pem